{% extends 'base.html' %}

{% block master %}
<form action="{{ url_for('manager.check_master_password')}}" method="post">
    <h1>Write master password here:</h1>
    <input type="password" name="master_password" id="master_password" />
    <input type="submit" value="Save" class="button">
</form>
{% endblock %}

{% block header %}
<h1>{% block title %}Saved login data{% endblock %}</h1>
  {% if g.user %}
<a class="action" href="{{ url_for('manager.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for record in records %}
<article class="post">
    <header>
        <div>
            <h1>{{ record['site_url'] }}</h1>
        </div>
        {% if g.user['id'] == record['author_id'] %}
        <form action="{{ url_for('manager.delete', id=record['id']) }}" method="post">
            <input class="button" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
        </form>
        {% endif %}
    </header>
    <p>
        Login: {{ record['used_login'] }}<br>
        Email: {{ record['used_email'] }}<br>
        {% if record['used_password'] is defined %}
        Password: {{ passwords[loop.index0] }}
        {% else %}
        Password:
        {% endif %}
    </p>
</article>
    {% if not loop.last %}
<hr>
    {% endif %}
  {% endfor %}
{% endblock %}
